body{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: 900px 600px;
}
h1{
    color:mediumvioletred;
}
.btn{
    background-color: red;
    color: 
}
.panel-body{
    color: deepskyblue;
}